@import 'vars';

@mixin contentLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: $white;
  padding: 5px 20px 25px 30px;
  row-gap: 10px;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbox {
  overflow-wrap: break-word;
  outline: none;
  border-bottom: 1px solid $light-gray;
  &:empty::before {
    content: attr(placeholder);
  }
}

.focus {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
}

.form-info {
  @include contentLayout;
  border-top: 10px solid $purple-heart;
}

.form-title {
  font-size: 32px;
}

.form-description {
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}

.question {
  @include contentLayout;
  margin-top: 15px;
}

.question-top {
  display: flex;
  justify-content: space-between;
  align-items: start;

  .textbox {
    width: calc(100% - 180px);
  }
}

.question-title {
  font-weight: 500;
}

.required {
  color: $red;
}

.dropdown {
  @include flexCenter;
  position: relative;
  min-width: 150px;
  width: max-content;
  height: 40px;
  font-size: 14px;
}

.dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 10px;
  border: 1px solid $light-gray;
  border-radius: 4px;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid $light-gray;
  border-radius: 4px;
  z-index: 50;
  min-width: 150px;
  width: max-content;
}

.dropdown-item {
  height: 40px;
  width: 100%;
  padding: 10px;
  background-color: $white;
  text-align: left;
  &:hover {
    background-color: $light-red;
  }
}

.highlight {
  background-color: $light-violet;
}

.checker {
  display: flex;
  margin-right: 5px;
}

.option-list {
  display: flex;
  flex-direction: column;
  background-color: $white;
  row-gap: 10px;
}

.option-wrapper {
  position: relative;
  display: flex;
  column-gap: 10px;
}

.option {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

.option-input-wrapper {
  width: 100%;
  gap: 10px;
}

.option-input {
  width: calc(100% - 40px);
  &:hover {
    border-bottom: 1px solid $light-gray;
  }
  &:focus {
    border-bottom: 1px solid $light-gray;
  }
}

.remove-option-btn {
  width: 20px;
}

.add-option-bar {
  display: flex;
  justify-content: start;
  column-gap: 10px;
}

.add-option {
  margin-left: -3px;
}

.required-checkbox {
  display: flex;
  align-items: center;
  column-gap: 10px;

  input {
    width: 15px;
    height: 15px;
  }
}

.question-setting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 15px;
  border-top: 1px solid $light-gray;
  margin-top: 20px;
  padding-top: 20px;
  height: 40px;
}

.divider-vertical {
  border: 1px solid $light-gray;
  width: 1px;
  height: 25px;
}

.add-question-button {
  @include flexCenter;
  position: absolute;
  right: -40px;
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 10px;
}

.short-answer {
  width: 50%;
}

.clear-button {
  width: fit-content;
}

.preview-button-bar {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-top: 20px;

  button {
    padding: 5px 10px;
    border-radius: 5px;
  }

  .left {
    display: flex;
    justify-content: space-between;
    width: 150px;
  }
}

.submit-button {
  background-color: $purple-heart;
  color: $white;
}

.go-back-button {
  background-color: $royal-blue;
  color: $white;
}

.move {
  cursor: move;
  text-align: center;
  height: 20px;
  margin-bottom: -5px;
  svg {
    visibility: hidden;
  }
  &:hover {
    svg {
      visibility: visible;
    }
  }
}

.move-vertical {
  cursor: move;
  position: absolute;
  left: -20px;
  top: 3px;
  svg {
    visibility: hidden;
  }
  &:hover {
    svg {
      visibility: visible;
    }
  }
}
