@import './reset';
@import './vars';

body {
  background-color: $white-lilac;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 8px;
  background-color: $white;
  padding: 20px;
}
