@import './reset';
@import './vars';

body {
  background-color: $white-lilac;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid $light-gray;
}

svg {
  width: 20px;
  height: 20px;
}

.layout {
  margin: auto;
  max-width: 770px;
  min-width: 250px;
  padding: 60px 50px;
  word-wrap: break-word;
}

.feature-button {
  width: 35px;
  height: 35px;
}

.backlight {
  &:hover {
    background-color: $white-lilac;
    border-radius: 10px;
  }
}
